#addModal{
  border: 1px solid black;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
#headerModal{
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: initial;
}
#modalTitle{
  margin-left: 10px;
}
#closeModalBut{
  font-size: 30px;
  font-weight: bolder;
  margin: 10px;
  cursor: pointer;
}
#addToolForm {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  align-items: center;
}
#addToolForm label{
  display: flex;
  width: 90%;
  justify-content: flex-start;
  margin-bottom: 2px;
}
#addToolForm input{
  width: 90%;
  margin-bottom: 8px;
}
#addToolForm textarea{
  width: 90%;
  margin-bottom: 8px;
}