.Tool{
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.05);
  border-radius: 5px;
  border: 1px solid #EBEAED;
  width: 90%;
  margin-bottom: 5px;
  background-color: #FFF;
}
.toolHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.toolTitle{
  color: #365DF0;
  text-decoration: none;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
}
.toolDescription p{
  text-align: initial;
}
.toolTags p{
  text-align: initial;
}